<app-header></app-header>
<br>
<div class="container">
    <h3 style="margin-bottom: 0%;">All Business</h3>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="">
            <table id="productTable">
                <tr>
                    <th>Customer Id</th>
                    <th>Registration Number</th>
                    <!-- <th>Owner Id</th> -->
                    <th>Buisness Name</th>
                    <th>Status</th>
                    <th>Change Status</th>
                    <!-- <th>Update </th> -->
                </tr>
                <tr *ngFor="let business of allBusiness">
                    <td>{{business.customerId}}</td>
                    <td>{{business.registrationNumber}}</td>
                    <!-- <td>{{business.ownerId}}</td> -->
                    <td>{{business.businessName}}</td>
                    <td>{{business.status}}</td>
                    
                        <td><button mat-raised-button color="primary" (click)="changeStatus(business.id,business.status)">Approve/Reject</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>