<app-header></app-header>
<br>
<div class="container">
    <h3 style="margin-bottom: 0%;">Order Number - {{orderDetails.id}}</h3>
    <mat-divider></mat-divider>

    <div class="row">

        <div class="column1" style="text-align: center;">
            <br>
            <img src="../../assets/purchase-details.svg" style="width: 100%;"><br><br><br>
            <h4>Status - {{orderDetails.orderStatus}}</h4>
        </div>

        <div class="column2">
            <div>
                <span style="font-weight: bold;">Grand Total: {{orderDetails.totalCost}} Rs.</span><br>
                <span>Date: {{orderDetails.timestamp | date:"dd MMM yy hh:mm a" }}</span>
            </div>

            <br>
            <table id="purchaseDetails">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Cost</th>
                </tr>
                <tr *ngFor="let purchaseDetail of purchaseDetails">
                    <td>{{purchaseDetail.product.name}}</td>
                    <td>{{purchaseDetail.product.price}} Rs.</td>
                    <td>x {{purchaseDetail.quantityOrdered}}</td>
                    <td>{{purchaseDetail.totalCost}} Rs.</td>
                </tr>
            </table>
            <br>
            <div style="text-align: right;">
                <a href="/my-orders" mat-fab color="primary">
                    <mat-icon>chevron_left</mat-icon>
                </a>
            </div>

            <h4>Delivery Address - </h4>
            <app-show-address [address]="orderDetails.address"></app-show-address>
        </div>
    </div>
</div>