<mat-toolbar color="primary">
    <a href="/" style="text-decoration: none; color: white; margin-left: 2%;">
        <span>B2B Commerce</span>
    </a>

    <div class="spacer"></div>

    <ng-template [ngIf]="isLoggedIn">
        <a href="/cart"mat-icon-button style="margin-right: 20px;">
            <mat-icon matBadge="{{currentValue}}" matBadgeOverlap="false">shopping_cart</mat-icon>
        </a>
        <a href="/my-orders" mat-icon-button style="margin-right: 30px;">
            <mat-icon>shopping_bag</mat-icon>
        </a>
        <a href="/my-business" mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </a>
        <a mat-icon-button style="margin-right: 1%;" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </ng-template>

    <ng-template [ngIf]="!isLoggedIn">
        <a href="login" mat-icon-button style="margin-right: 1%;">
            <mat-icon>login</mat-icon>
        </a>
    </ng-template>
</mat-toolbar>