.container{
    margin-left: 2%;
    margin-right: 2%;
}

.row:after {
content: "";
    display: table;
    clear: both;
}


#myOrdersTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#myOrdersTable td, #myOrdersTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#myOrdersTable tr:nth-child(even){background-color: #f2f2f2;}

#myOrdersTable tr:hover {background-color: #ddd;}

#myOrdersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #B98AFE;
  color: white;
}