<mat-card>
    <ng-template [ngIf]="product.active">
        <img mat-card-image src="{{product.imageLink}}">
    </ng-template>
    <ng-template [ngIf]="!product.active">
        <img mat-card-image src="{{product.imageLink}}" style="filter: grayscale(100%);">
    </ng-template>

    <p>
        <ng-template [ngIf]="product.active">
            {{product.name}} for {{product.price}} Rs.
        </ng-template>
        
        <ng-template [ngIf]="!product.active">
            <del>{{product.name}} for {{product.price}} Rs.</del>
        </ng-template>
    </p>
    <mat-card-content>
        <ng-template [ngIf]="product.active">
            <button mat-icon-button (click)="addToCart(product.id)">
                <mat-icon id="addToCartIcon{{product.id}}" class="activeButton" >add_shopping_cart</mat-icon>
            </button>
        </ng-template>
        
        <ng-template [ngIf]="!product.active">
            <button disabled mat-icon-button>
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </ng-template>
    </mat-card-content>
</mat-card>